.wrapper{
    max-width: 900px;
    margin: 0 auto;
	padding: 0 20px;
}
h2 {
	font-size: 20px;
}
input {
	font-size: 16px;
	margin-bottom: 10px;
}
.message {
	color: brown;
}
.message_bottom {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
}

input[type='button']:hover {
	cursor: pointer;
}
